table{
    width: 100%;
    vertical-align: center;
}
th{
    text-align: center;
}
td{
    text-align: center;
   height: 30px ; 
}
.add-card{
    margin: 20px;
}
.btn-a{
    margin: 0 10px;
}
.action{
    width: 20%;
}